body{margin:0;}

.nav{overflow:hidden; background-color: pink}

.nav a{float:left; color:cornflowerblue; text-align: center; font-size: 20px;}

.nav a:hover{background-color: aqua; color:black}

.nav a.active{background-color: black; color: white}

.nav a.title{font-size: 30px; color: blueviolet}


@media only screen and (max-width: 450px) {
    nav {
        height: 100px;
    }
    p {
       font-size: 300px;
    }
}
